.feed {
    flex: 0.4;
    border-right: 1px solid #cac6c6;
    min-width: fit-content;
    overflow-y: scroll;
}

.feed-header {
    position: sticky;
    top: 0;
    background-color: white;
    padding: 10px;
    z-index: 100;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.feed-header h2 {
    font-size: 20px;
    font-weight: 800;
}

.feed::-webkit-scrollbar {
    display: none;
}